<div #modalsimple [attr.id]="id" class="backdrop" [ngStyle]="backgroundStyle">
  <div id="modal" [ngStyle]="full">
    <div class="header" [ngStyle]="headerStyle">
      <div>
        {{this.headline}}
      </div>
      <div (click)="closeModal()" [ngStyle]="close">
        x
      </div>
    </div>
    <hr [ngStyle]="line">
    <div class="content" [ngStyle]="contentStyle">
      <div>
        <ng-content></ng-content>
      </div>
    </div>
    <hr [ngStyle]="line">
    <div class="footer" [ngStyle]="footerStyle">
      <div>
        {{this.footer}}
      </div>
    </div>
  </div>
</div>
<div (click)="openModal()">Open Modal</div>